/*----------COLOR SCHEME----------
black #000000
metallic seaweed/aquamarine #00778B
sunglow/yellow #FFC72C
*/

/*********************************/



/*************HEADER*************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #000000;
}

/***********HAMBURGER***********/
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/***********NAVIGATION***********/
.navigation {
    display: none;

}

.navigation.show {
    display: block;

}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation a:hover {
    background-color: #00778B;
    color: #FFFFFF;
}

.navigation li.current {
    background-color: #EEE;

}

h1 {
    margin-left: 10px;
}

