@media only screen and (min-width: 600px) {

/*************HEADER*************/
header main nav footer {
    max-width: 900px;
    margin: 0 auto;
}

header {
    grid-template-columns: 24px auto;
}

/***********HAMBURGER***********/

.hamburger {
    display: none;
}

/***********NAVIGATION***********/

.navigation {
    display: block;
    background-color: #000000;
}

.navigation ul {
    display: flex;
}

.navigation a {
    border-bottom: none;
    color: #FFFFFF;
}

/**************MAIN**************/

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

.card h2{
    background-color: #000000;
    color: #FFFFFF;    
    padding: 5px;
    margin: 1rem;
}

.courses {
    grid-column: 1 / -1;
}

.profile img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

}