@media only screen and (min-width: 640px) {

/*************HEADER*************/
header main nav footer {
    max-width: 900px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    padding: 1rem;
}

/***********HAMBURGER***********/
.hamburger {
    display: none;
}

/***********NAVIGATION***********/
.navigation {
    display: block;
    background-color: #FFC72C;
    color: #000000;
    font-weight: bold;
}

.navigation ul {
    display: flex;
}

.navigation a {
    border-bottom: none;
}

/**************MAIN**************/
    
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    padding: 2rem;
}

.card h2 {
    display: inline-block;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}

.course-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.course-grid h2 {
    background-color: #000000;
}

.profile img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

/*************FOOTER*************/
.footer {
    background-color: #00778B;
    color: #000000;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}

}