/*----------COLOR SCHEME----------
black #000000
white #FFFFFF
monochrome #353535
deep sea #0D1B2A, #415A77, #778DA9, #E0E1DD
serene blue #274C77
*/

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*************HEADER*************/
header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #0D1B2A;
}

header img {
    display: block;
    width: 44px;
    height: auto;
}

header span {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

/***********HAMBURGER***********/
.hamburger {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Verdana, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/***********NAVIGATION***********/
.navigation {
    display: none;
    background-color: #415A77;
    
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #E0E1DD;
    font-size: 20px;
    font-weight: bold;
}

.navigation a:hover {
    background-color: #004E98;

}

.navigation li.current {
    background-color: #274C77;
    font-weight: bold;
}

/**************MAIN**************/
main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: #D3D3D3;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    background-color: #0D1B2A;
    color: #FFFFFF;
    padding: 0.75rem;
    margin: 0;
    text-align: center;
}

.card p {
    padding: 0 1rem;
}

.profile img {
    max-width: 100%;
    height: auto;
    display: block;
    padding-top: 0.75rem;
    margin: 1rem auto 0;
    border-radius: 8px;
}

/*************COURSES*************/
.courses {
    text-align: center;
    margin-bottom: 2rem;
}

.courses button {
    background-color: #415A77;
    color: #E0E1DD;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 0.75rem 1rem;
    margin: 0.3rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.courses button:hover {
    background-color: #004E98;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.course-card {
    background-color: #F4F4F4;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course-card.completed {
    background-color: #D3D3D3;
    border-left: 6px solid #004E98;
}

.credits-total {
    margin-top: 1rem;
    font-weight: bold;
}


/*************FOOTER*************/
.footer {
    background-color: #0D1B2A;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem 0;
}

.icons {
    margin-bottom: 0.5rem;
}

.icons img {
    width: 34px;
    height: 34px;
    margin: 0 5px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.icons img:hover {
    transform: scale(1.1);
}

