/*----------COLOR SCHEME----------
black #000000
metallic seaweed/aquamarine #00778B
sunglow/yellow #FFC72C
*/

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html, body {
    overflow-x: hidden;
}

/*************HEADER*************/
header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

header img {
    display: block;
    width: 44px;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #000000;
}

/***********HAMBURGER***********/
.hamburger {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/***********NAVIGATION***********/
.navigation {
    display: none;
    transition: max-height 0.3s ease-in-out;
}

.navigation.show {
    display: block;

}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 1rem;
    color: #000000;
    text-decoration: none;
    border-bottom: solid 1px #DDD;
}

.navigation a:hover {
    background-color: #06ADCA;

}

.navigation li.current {
    background-color: #A9A9A9;
}

/**************MAIN**************/

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: #D3D3D3;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px;
    margin: 1rem;
    text-align: center;
}

.profile img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}


